@import "tailwindcss";

@theme {
  --color-orange-primary: #fd7601;
  --color-grey-primary: #f6f6f4;

  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1440px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-grey-primary);
  font-family: Arial, sans-serif;
}
